<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about_style.css') }}">
</head>
<body>

<!-- Main Content -->
<h1>About page</h1>
<!-- Your homepage content goes here -->

<!-- Navigation Bar -->
<div class="container">
    <div class="navbar-header">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/about">About</a>
    <a class="navbar-brand" href="/contact">Contact</a>
</div>

<!-- Additional Content -->
<h2>What we do...</h2>
<p>A lot has changed in the past decade in the world of web design.</p>
<p>
    People started replacing desktops with laptops. The laptop screens
    got wider then were replaced with tablets. Pixels became more and more abundant.
    Screens then got smaller with smartphones and then bigger, much bigger with 50 inch
    Internet-enabled TVs.
</p>
<p>
    Then we had new browsers for smartphones. New desktop browsers like Chrome that
    displays 25% larger than Internet Explorer or Edge. It got diverse, less vanilla.
</p>

<h2>How it's done...</h2>
<p>
    There are essentially two approaches to the problem. Building and maintaining two
    websites, one for small screens such as a smartphone and one for larger screens such
    as a large laptop or TV.
</p>
<p>
    Obviously this is twice as much work and will cost twice as much.
</p>
<p>
    The second solution is to have one website but to overlay a "mobile" style when
    displayed on a smaller screen. This is what we do and provides an affordable
    solution.
</p>

<h2>What we offer...</h2>

<p>
    E-commerce: Online stores that allow users to browse, add items to a cart, and securely checkout with payment processing. (e.g., clothing stores, electronics stores)
</p>

<p>
    Dynamic Websites: Websites that personalize content based on user data or preferences, often powered by a database. (e.g., recommendation engines, personalized news feeds)
</p>

<p>
Portfolio Websites: Websites for showcasing creative work, skills, and experience. (e.g., freelance designer portfolios, photography portfolios)
</p>
</body>
</html>
